
.container-fluid {
    padding: 0px;
}

nav {
    padding: 35px;
    /* background: #ffd7f3; */
    background: #fff7fd;

    ul {
        text-align: left;
        padding: 20px;
    }
}

.navbar-brand {
    position: relative;

    img {
        margin-bottom: 15px;
        margin-left: 5px;
    }

    b {
        position: absolute;
        left: 7px;
        bottom: 0px;
        font-size: 13px;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler {
    padding: 0.25rem 1rem;
    border: 1px solid #ff00b2 !important;
    background: #ffd7f3;

    span {
        font-size: 12px;
        width: 100%;
    }
}

#collapsibleNavbar {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;

    button {
        margin: 0px;
        border: 1px solid #ff00b2 !important;
        background: #efa9da;
        font-size: 12px;
        font-weight: 800;
    }
}

.navbar-collapse {
    /* background: rgb(31, 171, 194); */
    /* border-top: 3px solid rgb(0, 0, 0); */
    /* margin-top: 20px; */
    max-width: 100%;
}

body {

    /* background: rgb(209,0,255) !important;
            background: linear-gradient(180deg, rgba(209,0,255,1) 0%, rgba(0,159,185,1) 35%, rgba(255,255,255,1) 100%) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;*/
    * {
        color: rgb(0, 0, 0) !important;
        font-family: cursive;
    }
}

.bannerDiv {
    background: #ffd7f3;
    /* background: url(logo_1.PNG) #ffd7f3 no-repeat 222px 25px;
            background-size: 160px; */
}

.banner {
    margin: auto;
    /* background: white; */
    width: 100%;
    padding: 1px 10px 10px 10px;
    color: black !important;
    /* font-size: 10px; */
    margin: auto;
    text-align: center;
    font-weight: 700;

    p {
        font-size: 20px;
        margin-top: 25px;
        color: #a80075 !important;
        /* text-shadow: 1px 3px 5px #ff8edd; */
    }
}

.textDiv {
    box-shadow: 0px 0px 2px 0.1px #a3859a !important;
    background: url(logo_1.PNG) #fff7fd no-repeat 90% 90%;
    background-size: 75px;
    padding: 50px;
    color: #ff00b2 !important;
    p {
        /* background: #fff7fd; */
        color: #ff00b2 !important;
        font-size: 12px;
        margin: 0px;
    }
    h4{
        color: #a80075 !important;
        margin-bottom: 10px;
    }
}

footer {
    text-align: center;

    a {
        margin: 10px;
        text-decoration: none;
        font-size: 12px !important;
        color: #ff55cc !important;
    }

    p {
        margin-top: 20px;
        font-size: 12px !important;
    }
}

.carousel-item {
    padding: 20px;
    background-color: #ffd7f3;

    img {
        margin: auto;
        width: 100px;
        height: 100px;
        border: 1px solid black;
    }

    * {
        color: #ff55cc !important;
    }
}

.carousel-caption {
    position: unset;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff55cc'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ff55cc'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}

.loginSignup ul li {
    background: #ffd7f3;
    width: 50%;
    text-align: center;
    color:#ff55cc !important;

    *{
        color:#ff55cc !important;
    }

    
}

#signup{
    display: none;
}

form {
    background-color: #ffd7f3;
    padding: 50px;
    * {
        color:#ff55cc !important;
    }
    input, option, select {
        color: black !important;
    }
    button{
        color: white !important;
    }
    #emailHelp{
        font-size: 10px !important;
        color: black !important;
    }
    a{
        color:blue !important;
    }
    h4{
        margin-bottom: 20px;
        margin-left: 5px;
        color: #a80075 !important;
    }
    
}
