/* main css */

body {
    * {
        color: rgb(0, 0, 0) !important;
        font-family: cursive;
    }
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.div-one {
    background: #ffd7f3;
}

.banner {
    margin: auto;
    width: 100%;
    padding: 1px 10px 10px 10px;
    color: black !important;
    margin: auto;
    text-align: center;
    font-weight: 700;
    p {
        font-size: 20px;
        margin-top: 25px;
        margin-bottom: 25px;
        color: #a80075 !important;
    }
}

.div-two {
    box-shadow: 0px 0px 2px 0.1px #a3859a !important;
    padding: 50px;
    color: #a80075 !important;
    p {
        /* background: #fff7fd; */
        color: #a80075 !important;
        font-size: 18px;
        margin: 0px;
    }
    h4{
        color: #a80075 !important;
        margin-bottom: 10px;
    }
    .icon {
        width: 60px;
        height: 60px;
        background-size: 100%;
    }
    .col-md-6 {
        padding: 10px;
        span {
            margin-bottom: 10px;
        }
        p {
            /* border: 1px solid black; */
            padding: 10px;
        }
    }
}

.carousel {
    background: url(../images/logo_1.PNG) #fff7fd no-repeat 90% 90%;
    background-size: 75px;
    padding: 0px;
}

.hearting{
    position: absolute;
    width: 20px;
    right: 10px;
    top: 15%;
}
