button {
    position : absolute;
    border : 1px solid #6b7986;
    border-radius : 10px;
    font-size : 12px;
    background-color :#1b2838;
    color : #6b7986;
    font-weight: 700;
}
p {
    position : absolute;
    font-size : 12px;
    color : #6b7986;
    font-weight: 700;
    text-align: center;
    font-size: 30px;
}
img {
    position : absolute;
    text-align: center;
}
span {
    position : absolute;
    font-size : 12px;
    color : #6b7986;
    font-weight: 700;
    font-size: 15px;
}
.left {
    text-align: left;
}
.right {
    text-align: right;
}
#playerface1, #playerface2 {
    border-radius: 50%;
    outline: 4px solid #6b7986;
}
.playerOneTimerNumber , .playerTwoTimerNumber {
    font-size: 15px;
    width: 100%;
}
.playerTwoTimerNumber {
    text-align: right;
}
.playerOneTimerNumber {
    text-align: left;
}
#PlayerOneWins, #PlayerTwoWins {
    font-size: 13px;
}
.timer {
    background-color : green;
    color: white;
}
#main-modal, #main-modal_1 {
    .modal-content, .modal-content_1{
        position: absolute;
        padding: 5px !important;
        background: #394b61;
        text-align: center;
    }
    .modal-body, .modal-body_1 {
        overflow: scroll;
        background: #021221;
    }
    .buttonDialog {
        padding: 10px !important;
        position: relative;
        display: block;
        width: 100%;
    }
    .modal-footer, .modal-footer_1 {
        align-items: flex-end;
        justify-content: center;
        padding: 10px !important;
        background: #66686a;
    }
    p {
        font-size: 15px !important;
        padding: 0px 30px !important;
        position: relative;
    }
    h4 {
        font-weight: 700;
        color: #6b7979;
        margin: 30px !important;
        border: 1px solid #6b7979;
        padding: 10px !important;
    }
    table {
        color: white;
        width: 100%;
        td {
            padding: 10px !important;
        }
        .music, .sound {
            width: 40px;
            height: 40px;
            background-size: cover;
            position: relative;
        }
        select {
            width: 70%;
            height: 100%;
            padding: 10px !important;
            text-align: center;
            color: white;
            background: #021221;
            font-size: 15px;
        }
        .form-check {
            display: inline-flex;
        }
        .form-check-input:checked {
            background-color: #021221;
        }
    }
}

#loaderDiv {
    background-color: #1b2838;
    position: absolute;
}
#loaderImage {
    position: absolute;
    background : url("../tictactoe/images/loading-screen-image.png") 100% 100% / cover no-repeat;
}